* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Optima, sans-serif;
}
.logo {
  font-family: Voyage;
  font-weight: bold;
  font-size: 90px;
  color: #e9e2d4;
}

.navigation {
  position: absolute;
  padding-top: 30px;
  font-family: Optima;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li a {
  text-decoration: none;
  font-size: 24px;
  color: #e9e2d4;
}

.navigation ul {
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  padding: 0 30px;
}

.hero img {
  width: 100%;
}
