* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Optima, sans-serif;
}
.logo {
  font-family: Voyage;
  font-weight: bold;
  font-size: 90px;
  color: #e9e2d4;
}

.navigation {
  position: absolute;
  padding-top: 30px;
  font-family: Optima;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li a {
  text-decoration: none;
  font-size: 24px;
  color: #e9e2d4;
}

.navigation ul {
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  padding: 0 30px;
}

.hero img {
  width: 100%;
}

.grid-container {
  background-color: #2e3114;
  height: 400px;
  display: grid;
  padding-left: 80px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 70%;
}

.grid-box-text {
  color: #ffffff;
}

.grid-container-ourstory {
  background-color: #e9e2d4;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.ourstory-image img {
  width: 100%;
  display: block;
}

.grid-ourstory-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 120px;
  text-align: left;
  align-items: left;
  height: 100%;
  width: 85%;
}
