@media screen and (min-width: 860px) {
  .heroMobile img {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
}

@media screen and (max-width: 800px) {
  .menu-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 860px) {
  .hamburger {
    display: inline-block;
  }

  .mobile-nav {
    display: flex;
  }

  nav {
    display: none;
  }

  .hero {
    display: none;
  }

  .heroMobile img {
    width: 100vw;
  }
}

@media screen and (max-width: 1080px) {
  .grid-container-ourstory {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  main .grid-ourstory-text {
    padding: 24px 48px;
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .bottom-grid {
    grid-template-columns: 1fr;
  }

  main .grid-item-right {
    padding: 24px 48px;
  }
}

@media screen and (max-width: 1050px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 846px) {
  .grid-container {
    padding: 0;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 40px;
    height: auto;
    padding: 40px;
  }

  .grid-box {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .text-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  footer {
  }

  .footer-input {
    width: 100%;
  }

  .footer-input .input-email {
    width: 100%;
  }

  .footer-grid-item {
    padding: 50px;
  }
}

@media screen and (max-width: 580px) {
  main .menu-grid .grid-item .grid-item-button {
    padding: 10px 15px;
    bottom: 10px;
  }
}

@media screen and (max-width: 560px) {
  main .product img {
    height: auto;
    width: 350px;
  }
}

/*@media screen and (max-width: 520px) {
    .input-email{
        width: 135px !important;
    }
}*/
