.menu-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    padding: 11px;
}

.menu-grid .grid-item{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.menu-grid .grid-item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* width: 470px;
    height: 650px; */
}

.menu-grid .grid-item .grid-item-button{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: white;
    padding: 20px 60px;
    text-align: center;
    font-family: "Optima";
    font-size: 24px;
    cursor: pointer;
}